{% extends "layout.html" %}

{% block title %}
    Sell Shares
{% endblock %}

{% block main %}
    <form action="/quicksell" method="post">
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="quicksell" name="symbol" readonly>
        </div>
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="shares" name="shares" placeholder="Number of Shares" type="text">
        </div>
        <button class="btn btn-primary" type="submit">Sell</button>
    </form>
    <script>
        // Retrieve the symbols query parameter from the URL
        const urlParams = new URLSearchParams(window.location.search);
        const names = urlParams.get('symbol');

        // Set the value of the input field with id 'namesInput' in the form
        document.getElementById('quicksell').value = names;
      </script>
{% endblock %}
